.home .headerBottom {
  background: url("../img/home/hedaerBottom.png") center center no-repeat;
  background-size: cover;
  padding: 230px 0 330px;
}
@media screen and (max-width: 768px) {
  .home .headerBottom {
    padding: 150px 0;
  }
}
@media screen and (max-width: 450px) {
  .home .headerBottom {
    padding: 50px 0;
  }
}
.home .headerBottom .headerBottom__text {
  text-align: center;
  color: white;
  margin-bottom: 60px;
}
.home .headerBottom .headerBottom__text .text {
  font-weight: 700;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .home .headerBottom .headerBottom__text .text {
    font-size: 20px;
  }
}
@media screen and (max-width: 450px) {
  .home .headerBottom .headerBottom__text .text {
    font-size: 18px;
  }
}
.home .headerBottom form {
  flex-wrap: wrap;
  padding: 12px;
  background: #FFFFFF;
  border-radius: 12px;
  width: 98%;
  margin: 0 1%;
  box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2);
}
@media screen and (max-width: 500px) {
  .home .headerBottom form {
    flex-direction: column;
    align-items: start;
  }
}
@media screen and (max-width: 768px) {
  .home .headerBottom form .inputBlock {
    margin-bottom: 20px;
    width: 100%;
  }
  .home .headerBottom form .inputBlock:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .home .headerBottom form .inputBlock input[type=date]::-webkit-calendar-picker-indicator {
    left: 0;
  }
}
.home .headerBottom form .inputBlock label svg {
  margin-right: 5px;
  width: 30px;
  height: 20px;
  display: block;
}
.home .headerBottom form .inputBlock label .text {
  margin-bottom: unset;
}
.home .headerBottom form .button {
  transition-duration: 0.3s;
}
.home .headerBottom form .button:hover {
  background-color: rgba(255, 152, 0, 0.7);
}
@media screen and (max-width: 450px) {
  .home .bestCompany .bestCompany_rates {
    display: block;
  }
}
.home .bestCompany .bestCompany_rates .bestCompany_rateItem {
  max-width: 100px;
}
@media screen and (max-width: 450px) {
  .home .bestCompany .bestCompany_rates .bestCompany_rateItem {
    display: flex;
    max-width: unset;
    align-items: center;
  }
}
.home .bestCompany .bestCompany_rates .bestCompany_rateItem .rateItem__title {
  margin-right: 10px;
}
.home .getOffer .getOffer__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .home .getOffer .getOffer__block {
    justify-content: center;
  }
}
.home .getOffer .getOffer__block .getOffer__textBlock {
  padding: 30px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 24px;
  text-align: center;
  max-width: 480px;
  margin: 40px 0;
}
.home .getOffer .getOffer__block img {
  margin-top: -150px;
}
@media screen and (max-width: 768px) {
  .home .getOffer .getOffer__block img {
    display: none;
  }
}
.home .popular .popular__title {
  margin-bottom: 40px;
}
.home .popular .popular__items {
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 900px) {
  .home .popular .popular__items {
    justify-content: center;
  }
}
.home .popular .popular__items .popular__item {
  width: 280px;
}
@media screen and (max-width: 600px) {
  .home .popular .popular__items .popular__item {
    width: unset;
  }
}
.home .popular .popular__items .popular__item img {
  border-radius: 10px;
  margin-bottom: 15px;
}
.home .popular .popular__items .popular__item .popular__itemBlock {
  padding: 15px;
  min-width: 280px;
}
.home .popular .popular__items .popular__item .popular__itemBlock .popular__itemTitle {
  margin-bottom: 15px;
  height: 2.5rem;
}
.home .popular .popular__items .popular__item .popular__itemBlock .coloredText {
  font-size: 30px;
  position: relative;
}
.home .popular .popular__items .popular__item .popular__itemBlock .coloredText::before {
  color: #333333;
  opacity: 0.6;
  position: absolute;
  content: "$";
  top: 0;
  left: -12px;
  font-size: 60%;
  font-weight: 400;
}
.home .popular .popular__items .popular__item .popular__itemBlock .coloredText::after {
  color: #333333;
  opacity: 0.6;
  content: "/day";
  font-size: 60%;
  margin-left: 10px;
  font-weight: 400;
}
.home .popular .popular__items .popular__item .popular__itemBlock .conditionItem {
  margin-bottom: 10px;
  align-items: baseline;
}
.home .popular .popular__items .popular__item .popular__itemBlock .conditionItem svg {
  width: 20px;
  margin-right: 15px;
}
.home .popular .popular__items .popular__item .popular__itemBlock .conditionItem .text {
  margin-bottom: 5px;
}
.home .popular .popular__items .popular__item .popular__itemBlock button {
  border: 1px solid rgb(255, 152, 0);
  background-color: unset;
  color: rgb(255, 152, 0);
  transition-duration: 0.3s;
}
.home .popular .popular__items .popular__item .popular__itemBlock button:hover {
  border: 1px solid unset;
  background-color: rgb(255, 152, 0);
  color: white;
}

/*# sourceMappingURL=home.css.map */
