.bookBike {

  padding: 20px 0;

  form {

    .inputs {
      margin-bottom: 25px;

      label {
        display: block;
        margin-bottom: 10px;
      }
    }

    input[type="submit"] {
      width: fit-content;
      margin: 0 auto;
    }

  }

  .bookBike__img {
    margin-bottom: -70px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

}